
<mat-toolbar color="primary" class="header-tollbar">
    <button [routerLink]="['/']" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>ChurrosCaria</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['/login']" *ngIf="!authService.isAuthenticated()" mat-icon-button >Login</button>
    <button (click)="logout()" *ngIf="authService.isAuthenticated()" mat-icon-button >Log out</button>
</mat-toolbar>