<div class="main">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="title"></h1>
    </div>
    <mat-card>
        <mat-card-header>
            <mat-card-title >Nome: {{produto.name}}</mat-card-title>
            <mat-card-title style="font-size: 15px;">Descrição: {{produto.description}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="image">
                <img  width="50%" height="50%" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
        </mat-card-content>
        <mat-card-actions class="card-footer">
            <a  mat-raised-button color="warn" *ngIf="authService.isAdmin()" (click)="deletar()">Deletar Produto</a>
        </mat-card-actions>
    </mat-card>
</div>