<div class="main">
    <h3>Nossos melhores produtos!</h3>
    <div class="list" >
        <div *ngFor="let produto of produtos">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title >{{produto.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>{{produto.description}}</p>
                </mat-card-content>
                <mat-card-actions class="card-footer">
                    <a mat-button routerLink="/produto/{{ produto.id }}">Ver Produto</a>
                    <a mat-button routerLink="/produto/{{ produto.id }}">Editar</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>